<!DOCTYPE html>
<html>
<head>
  <title>Hello World</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel=stylesheet type=text/css href='/static/app.css'>
</head>

<body>
  <div class="container">
    {% if name %}
      <h1>Hello {{ name }}!</h1>
    {% else %}
      <h1>Hello World!</h1>
    {% endif %}
  </div>

  <script src="/static/app.js" ></script>
</body>
</html>
